/* -------------------------------------------------------------------------- */
/*                                   COMMON                                   */
/* -------------------------------------------------------------------------- */

/* ---------------------------------- node ---------------------------------- */
.node {
  min-width: 150px;
  min-height: 40px;
  border: 1px solid #505050;
  border-radius: 0.25rem;
  background: #f7f7f7;
  color: #101010;
  font-size: 0.7rem;
  white-space: nowrap;
}
.node:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.selected .node {
  border: 3px solid #505050;
}
.node.glow__normal {
  background-color: #ff07;
}
.node.glow__error {
  background-color: #f007;
}

/* --------------------------------- handle --------------------------------- */
.node:hover > .handle {
  width: 0.5rem;
  height: 0.5rem;
}
.handle {
  border-radius: 50%;
  width: 0.4rem;
  height: 0.4rem;
  background-color: blueviolet !important;
}
.hande:hover {
  width: 0.5rem;
  height: 0.5rem;
}

/* ------------------------------- header part ------------------------------ */
.node .header {
  color: black;
  background-color: #e0e0e0;
  width: 100%;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  padding: 0.1rem;
}

/* ------------------------------ subtitle part ----------------------------- */
.node .subtitle {
  color: black;
  background-color: #efefef;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  font-size: 0.7rem;
  text-align: center;
  padding: 0.1rem 0.2rem;
}

/* -------------------------------------------------------------------------- */
/*                               BLOCK SPECIFIC                               */
/* -------------------------------------------------------------------------- */

/* ----------------------------- node-statement ----------------------------- */
.node-statement {
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

/* ------------------------------ node-decision ----------------------------- */
.node-decision {
  padding: 0;
  min-width: 150px;
}
.decision-fields {
  color: white;
  font-size: 0.9rem;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 0.3rem;
  font-weight: bold;
  width: 17%;
}
.decision-fields.false {
  background-color: red;
}
.decision-fields.true {
  background-color: green;
}

/* ------------------------------ node-sentinel ----------------------------- */
.node-sentinel {
  width: 150px;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 50em;
}
.node-sentinel .content {
  color: black;
  width: 100%;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
}

/* ----------------------------- node-container ----------------------------- */
.node-container {
  background-color: #fff;
  height: inherit;
  width: inherit;
  border: 3px double #505050;
}
.react-resizable-handle-se {
  bottom: 3px !important;
  right: 3px !important;
}
.handle-container {
  width: 0 !important;
  height: 0 !important;
  border-radius: 0 !important;
  border-style: solid !important;
  background-color: transparent !important;
}
.handle-container.target {
  top: calc(100% - 10px);
  border-width: 0 0.4rem 0.4rem 0.4rem;
  border-color: transparent transparent violet transparent;
}
.handle-container.source {
  bottom: calc(100% - 50px);
  border-width: 0.4rem 0.4rem 0 0.4rem;
  border-color: violet transparent transparent transparent;
}

/* -------------------------------------------------------------------------- */
/*                                    MODAL                                   */
/* -------------------------------------------------------------------------- */

.node-modal.modal-body {
  font-family: 'Roboto Mono', monospace;
}
.node-modal textarea {
  height: 14vh !important;
}
