@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

#board {
  font-family: 'Roboto Mono', monospace;
}

.clickable {
  cursor: pointer;
  transition: filter .1s ease-in-out;
}

.clickable:hover {
  filter: brightness(95%);
}

.clickable:active {
  filter: brightness(85%);
}