.react-flow__edge-path {
  stroke: #505050 !important;
}

.react-flow__edge.highlighted__normal > path {
  stroke-width: 2 !important;
}

.react-flow__edge.highlighted__animate > path {
  stroke-width: 2 !important;
  stroke: #00f !important;
}


.react-flow__edges.react-flow__container {
  z-index: 1001 !important;
}